

//Clearfix
.clear:after {
  content: "";
  display: table;
  clear: both;
}



//Nav
$nav-bg: #4D4F53;
$nav-button-bg: #3F3B36;
$nav-button-text: #E5DED6;


//Social
$social-bg: #BDB1A9;
$social-border: #877B74;
$social-text: #ECE5E2;
$footer-text: #E0DAD7 * 0.9;
