
//Clearfix
.clear:after {
  content: "";
  display: table;
  clear: both;
}

// current state of small caps (Fall, 2015):
// -most browsers fail at font-variant:small-caps (Chrome 46, Safari 9), using fake small caps
// -see this: http://www.chriskrycho.com/2015/css-fallback-for-opentype-small-caps.html
// -fix: standalone SC font (>IE 5.5), http://freakfonts.com/fonts/goudy-oldstyle-ssi-small-caps--font-download.html
// -regular font file (OFLGoudyStM.woff) still has complete subset (for future use)
.smallcaps {
	font-family: "SortsMillGoudy-SC", "SortsMillGoudy", serif;
	letter-spacing: 0.5px;
}

.grid-1-3 {
	width: 33%;
	display: inline-block;
}

.grid-1-2 {
	width: 36%;
	display: inline-block;
	&:first-of-type {
	  margin-left: 100px;
	}
}


//Nav
$nav-bg: #4D4F53;
$nav-button-bg: #3F3B36;
$nav-button-text: #E5DED6;

//Social
$social-bg: #BDB1A9;
$social-border: #877B74;
$social-text: #ECE5E2;
$footer-text: #E0DAD7 * 0.9;

//Main
$main-h1: #585858;
$main-text: #585858;
$gold: #95793A;



// Home page
$home-ministry-largewidth: 600px;
$home-ministry-largemargin: 20px;
$home-tout-radius: 5px;

// About page
$search-gr1: #e4f1f9;
$search-gr2: #B4CEDF;
$search-text: #414A53;
$border: #bbb;

$personBoxShadow: rgba(black, 0.6);
