//----------------------------------------------- RESOURCES
section.resources {
  margin-top: 50px;

  h2.resource-heading{
    margin: 0 auto;
    width: 630px;
    font-style: italic;
    font-size: 1.4em;
    padding-bottom: 5px;
    @include breakpoint(tablet){
      width: 500px;
    }
    @include breakpoint(mobile){
      width: 400px;
    }
    a {
      color: #585858;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  p.resource-paragraph{
    margin: 0px auto 55px;
    width: 630px; 
    @include breakpoint(tablet){
      width: 500px;
    }
    @include breakpoint(mobile){
      width: 400px;
    }
  }
}