//----------------------------------------------- RESOURCES
section.resources {
  margin-top: 50px;

  article{

    margin: 0 auto;
    width: 630px;
    padding-bottom: 55px;

    @include breakpoint(mobile){ 
      width: 350px;
    }

    h2 {
      font-style: italic;
      font-size: 1.4em;
      padding-bottom: 5px;    

      a {
        color: #585858;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      margin: 0;
    }
  }
}